* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1.125rem;
}

h1,
h2 {
  text-align: center;
}

.container {
  max-width: 50rem;
  /* 이거보다(50rem)커지지마 */
  margin-inline: auto;
  /* 양옆간격똑같이중앙으로 */
  background-color: oklch(90% 0 0);
  padding-inline: 2.5rem;
}

.container > div {
  /* 컨테이너 자녀에 있는 div를 지목 */
  padding: 1rem;
}

.container > div:nth-child(1) {
  background-color: oklch(90% 0.05 0);
  border: 0.0625rem dotted oklch(40% 0.05 0);
  /* border에 선추가하려면 숫자 뒤에 solid, 점은 dotted */
  color: oklch(20% 0.05 0);

  /* 이렇게 하면 첫번째 div만 적용이됨 */
}
.container > div:nth-child(2) {
  background-color: oklch(90% 0.05 40);
  border: 0.0625rem dotted oklch(40% 0.05 40);
  color: oklch(20% 0.05 40);
}
.container > div:nth-child(3) {
  background-color: oklch(90% 0.05 80);
  border: 0.0625rem dotted oklch(40% 0.05 80);
  color: oklch(20% 0.05 80);
}
.container > div:nth-child(4) {
  background-color: oklch(90% 0.05 120);
  border: 0.0625rem dotted oklch(40% 0.05 120);

  color: oklch(20% 0.05 120);
}
.container > div:nth-child(5) {
  background-color: oklch(90% 0.05 160);
  border: 0.0625rem dotted oklch(40% 0.05 160);
  color: oklch(20% 0.05 160);
}

.flex-container {
  display: flex;
}

/* .flex-container > * {
  flex-container 바로 밑에 있는(>) 자녀(*) 라는 뜼
} */
.flex-child-opt1 {
  flex-grow: 1;
  /* 자라냐 안 자라냐, 여기에 들어가는 값들은 숫자를 넣는데 기본값이 grow는 0, shrink는 1, basis는 auto로 되어있음 */
  /* flex-shrink: ; */
  /* 수축하냐 수축하지 않냐 */
  /* flex-basis: ; */
  /* 기본값 */
}

.flex-child-opt2 {
  flex-basis: 0;
  flex-grow: 1;
  /* contents사이즈를 균등하게 만들기 */
  /* 이거에 대해서는 자습해보기... */
}

.flex-container-opt1 {
  /* gap: 1rem; */
  column-gap: 16px;
  /* 가로 갭 */
  row-gap: 24px;
  /* 행(세로) 갭 */
}

.flex-container-opt2 {
  /* justify-content: right; */
  /* justify-content: center;  */
  /* justify-content: left; */
  /* justify-content: space-evenly; */
  justify-content: space-around;
}

.flex-container-opt3 {
  /* align-items: stretch; */
  /* align-items: start; */
  /* align-items: end; */
  align-items: center;
}

.flex-container-opt4 {
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.flex-container-opt4 > * {
  width: 7.5rem;
}

.flex-wrap {
  /* flex-wrap: nowrap; */
  flex-wrap: wrap;
  /* -> 부모에게 flex를 설정하면 원래는 다 붙어있음 하지만 flex-wrap를 하면 줄바꿈이 일어난다 */
}

.flex-wrap-opt1 {
  column-gap: 0.75rem;
  row-gap: 1.5rem;
}

.flex-wrap-opt1 > * {
  flex-grow: 1;
  flex-basis: 0;
  min-width: 12.5rem;
  /* min-width, max-width 를 주로 쓰지 그냥 width 를 쓰진 않음 */
}
